extends ../base

block hero-footer
    nav.tabs.is-boxed
        .container
            ul
                li(class='#{works}'): a(href='/admin/works') 作品
                li(class='#{resources}'): a(href='/admin/resources') 资源