extends ../_layout/admin

block hero
    h1.title Vocaloid 学习制作群 控制台
    h2.subtitle 教程、资源集散地
    p.content 天灵灵地灵灵，太上老君快显灵

block content
    section.section
        .container
            include ../_partial/message

            a.button.is-primary.is-outlined.is-large.modal-button(data-target='#new-resource') 添加
            #new-resource.modal
                form(method='POST' action='/admin/addResource')
                    .modal-background
                    .modal-card
                        header.modal-card-head
                            p.modal-card-title 添加资源
                            a.delete
                        section.modal-card-body
                            .control.is-horizontal
                                .control.is-grouped
                                    .control.is-expanded
                                        input.input(type='text' name='title' placeholder='标题')
                                    .control.is-expanded
                                        span.select
                                            select
                                                option VC主程序/音源
                                                option 宿主
                                                option 插件
                                                option 其他
                            .control
                                //- input.input(type='text' name='description' placeholder='描述')
                                textarea.textarea(name='description' placeholder='描述')
                            .links.control
                                .control.is-grouped.link
                                    input.input(type='text', name='link-name' placeholder='链接名称')
                                    input.input(type='url', name='link-url' placeholder='链接')
                                    input.input(type='text', name='link-description' placeholder='额外说明')
                                    a.button.is-danger.is-outlined.is-delete 删除
                            .control
                                a#add-link.button.is-info.is-outlined
                                    i.fa.fa-plus
                            .control
                                input.input(type='text' name='tags' placeholder='标签')
                        footer.modal-card-foot
                            p.control.is-grouped
                                input.button.is-success(type='submit' value='保存')
                                a.button.cancel 取消

            //- Template dom for dom operation
            .control.is-grouped.link.is-hidden.link-template
                input.input(type='text', name='link-name' placeholder='链接名称')
                input.input(type='url', name='link-url' placeholder='链接')
                input.input(type='text', name='link-description' placeholder='额外说明')
                a.button.is-danger.is-outlined.is-delete 删除

            table.table
                thead
                    th 标题
                    th 提供者
                    th 提供时间
                    th 删除
                tbody
                    - each r in resourceList
                        tr
                            td #{s.title}
                            td #{s.uploader.username}
                            td #{s.date}
                            td: a(href='/admin/works/#{s._id}/delete') 删除

block scripts
    script(src='/js/modal.js')
    script(src='/js/admin-works.js')