extends ../_layout/admin

block hero
    h1.title Vocaloid 学习制作群 控制台
    h2.subtitle 教程、资源集散地
    p.content 天灵灵地灵灵，太上老君快显灵

block content
    section.section
        .container
            include ../_partial/message

            a.button.is-primary.is-outlined.is-large.modal-button(data-target='#new-works') 添加
            #new-works.modal
                form(method='POST' action='/admin/addWorks')
                    .modal-background
                    .modal-card
                        header.modal-card-head
                            p.modal-card-title 添加作品
                            a.delete
                        section.modal-card-body
                            .control
                                input.input(type='text' name='title' placeholder='标题')
                            .control
                                input.input(type='text' name='description' placeholder='描述')
                            .links
                                .control.is-grouped.link
                                    input.input(type='text', name='link-name' placeholder='链接名称')
                                    input.input(type='url', name='link-url' placeholder='链接')
                                    input.input(type='text', name='link-description' placeholder='额外说明')
                                    a.button.is-danger.is-outlined.is-delete 删除
                        footer.modal-card-foot
                            input.button.is-success(type='submit' value='保存')
                            a#add-link.button.is-info.is-outlined 新增链接
                            a.button.cancel 取消

            //- Template dom for dom operation
            .control.is-grouped.link.is-hidden.link-template
                input.input(type='text', name='link-name' placeholder='链接名称')
                input.input(type='url', name='link-url' placeholder='链接')
                input.input(type='text', name='link-description' placeholder='额外说明')
                a.button.is-danger.is-outlined.is-delete 删除

            table.table
                thead
                    th 标题
                    th 提供者
                    th 提供时间
                    th 删除
                tbody
                    tr
                        td 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
                        td dyzdyz010
                        td 2016-05-08
                        td: a(href='/works/abcdefg/delete') 删除

block scripts
    script(src='/js/modal.js')
    script(src='/js/admin-works.js')