extends _layout/base

block hero
    h1.title #{blog.title}
    h2.subtitle dyzdyz010
    p.content 2016-05-08

block content
    section.section
        .container
            p.content!= blog.content