extends _layout/base

block hero
    h1.title 博客
    h2.subtitle dyzdyz010
    p.content 2016-05-08

block content
    section.section
        .container.blog-list
            .blog-list-item
                p.title.is-4
                    a(href='/blog/alksdjf') Vocaloid 调教日记（二）
                .columns.is-mobile
                    .column.is-narrow
                        p.subtitle.is-6
                            span.icon.is-small
                                i.fa.fa-calendar
                            | 2016-07-09
                    .column.is-narrow
                        p.subtitle.is-6
                            span.icon.is-small
                                i.fa.fa-user
                            | dyzdyz010
            .seperator
            .blog-list-item
                p.title.is-4
                    a() 你不是没能力，只是没有将自己逼上梁山
                .columns.is-mobile
                    .column.is-narrow
                        p.subtitle.is-6
                            span.icon.is-small
                                i.fa.fa-calendar
                            | 2016-07-09
                    .column.is-narrow
                        p.subtitle.is-6
                            span.icon.is-small
                                i.fa.fa-user
                            | dyzdyz010
            .seperator
            .blog-list-item
                p.title.is-4
                    a() 安迪与奇点：有些秘密，适合烂在心底
                .columns.is-mobile
                    .column.is-narrow
                        p.subtitle.is-6
                            span.icon.is-small
                                i.fa.fa-calendar
                            | 2016-07-09
                    .column.is-narrow
                        p.subtitle.is-6
                            span.icon.is-small
                                i.fa.fa-user
                            | dyzdyz010
            .seperator