extends _layout/base

block hero
    h1.title 登录
    h2.subtitle Vocaloid 学习制作群
    p.content 不登录就想看资源？没门！(((o(*ﾟ▽ﾟ*)o)))

block idol-hero
    img(src='/img/idols/lukav4x.png')

block content
    section.section
        .container
            .columns
                .column.is-4.is-offset-4
                    h1.title 登录
                    
                    if locals.message
                        .notification.is-danger #{message}
                    form(method='POST' action='/login')
                        p.control.has-icon
                            input.input(type='text', name='username', placeholder='用户名')
                            i.fa.fa-user
                        p.control.has-icon
                            input.input(type='password', name='password', placeholder='密码')
                            i.fa.fa-lock
                        p.control
                            input.button.is-success(type='submit', value='登录')
                            a.button.is-link(style='margin-left: 10px;', href='/') 取消
