extends base

block vars
    - var productions = 'is-active'

block hero
    h1.title 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
    h2.subtitle @dyzdyz010
    .content.tags
        span.tag.is-dark 巡音ルカ
    p.content 作詞はMYOさん(mylist/38210282)

        br 
        | イラストはピアプロよりミルクティーさん(http://piapro.jp/milktea101)の作品をお借りしました
        br
        | これまでの自作曲(mylist/32258513)
        
    p.content.subtitle.is-6 11:09 PM - 1 Jan 2016
    .box.transparent
        h4.title.is-4 下载地址：
        span.tag.resource-download-link
            a(href='http://pan.baidu.com') 百度盘
            &nbsp;
            | 提取码：n3jp
            
        span.tag.resource-download-link
            a(href='http://pan.baidu.com') 百度盘
            &nbsp;
            | 提取码：n3jp
        span.tag.resource-download-link: a http://baidu.com

block content
    section.section
        .container
            include _partial/comments
