extends base

block hero
	.columns.is-vcentered
		.column
			h1.title 成员作品
				h2.subtitle 教程、资源集散地
				p.content 天灵灵地灵灵，太上老君快显灵
		.column.is-4
			article.message.is-warning
				.message-header 群公告
				.message-body
					| 上官博啦！为DC激动！！（字数不足我选择死亡。。）
					| 上官博啦！为DC激动！！（字数不足我选择死亡。。）
					| 上官博啦！为DC激动！！（字数不足我选择死亡。。）
					| 上官博啦！为DC激动！！（字数不足我选择死亡。。）
					| 上官博啦！为DC激动！！（字数不足我选择死亡。。）

block content
	section.section
		.container
			.columns.is-multiline
				.column.is-4
					.card
						.card-image
							figure.image.is-4by3
								img(src='http://placehold.it/300x225')
						.card-content
							.media
								.media-content
									h5.title.is-5 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
									h6.subtitle.is-6.production-author: strong @dyzdyz010
							.content
								| alksdj fladsjlkf adsf lasdfl adsjlf akdsfj asdlfj alsdkf laksdjf lasdkjf laksdjf 
								br
								small.production-date: strong 11:09 PM - 1 Jan 2016
				.column.is-4
					.card
						.card-image
							figure.image.is-4by3
								img(src='http://placehold.it/300x225')
						.card-content
							.media
								.media-content
									h5.title.is-5 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
									h6.subtitle.is-6.production-author: strong @dyzdyz010
							.content
								| alksdj fladsjlkf adsf lasdfl adsjlf akdsfj asdlfj alsdkf laksdjf lasdkjf laksdjf 
								br
								small.production-date: strong 11:09 PM - 1 Jan 2016
				.column.is-4
					.card
						.card-image
							figure.image.is-4by3
								img(src='http://placehold.it/300x225')
						.card-content
							.media
								.media-content
									h5.title.is-5 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
									h6.subtitle.is-6.production-author: strong @dyzdyz010
							.content
								| alksdj fladsjlkf adsf lasdfl adsjlf akdsfj asdlfj alsdkf laksdjf lasdkjf laksdjf 
								br
								small.production-date: strong 11:09 PM - 1 Jan 2016
				.column.is-4
					.card
						.card-image
							figure.image.is-4by3
								img(src='http://placehold.it/300x225')
						.card-content
							.media
								.media-content
									h5.title.is-5 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
									h6.subtitle.is-6.production-author: strong @dyzdyz010
							.content
								| alksdj fladsjlkf adsf lasdfl adsjlf akdsfj asdlfj alsdkf laksdjf lasdkjf laksdjf 
								br
								small.production-date: strong 11:09 PM - 1 Jan 2016
				.column.is-4
					.card
						.card-image
							figure.image.is-4by3
								img(src='http://placehold.it/300x225')
						.card-content
							.media
								.media-content
									h5.title.is-5 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
									h6.subtitle.is-6.production-author: strong @dyzdyz010
							.content
								| alksdj fladsjlkf adsf lasdfl adsjlf akdsfj asdlfj alsdkf laksdjf lasdkjf laksdjf 
								br
								small.production-date: strong 11:09 PM - 1 Jan 2016
				.column.is-4
					.card
						.card-image
							figure.image.is-4by3
								img(src='http://placehold.it/300x225')
						.card-content
							.media
								.media-content
									h5.title.is-5 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
									h6.subtitle.is-6.production-author: strong @dyzdyz010
							.content
								| alksdj fladsjlkf adsf lasdfl adsjlf akdsfj asdlfj alsdkf laksdjf lasdkjf laksdjf 
								br
								small.production-date: strong 11:09 PM - 1 Jan 2016
