extends base

block vars
    - var resources = 'is-active'

block hero
    h1.title 资源专区
    h2.subtitle 教程、资源集散地
    p.content 天灵灵地灵灵，太上老君快显灵

block content
    section.section
        .container
            table.table
                thead
                    tr
                        th 名称
                        th 提供者
                        th 提供时间
                tbody
                    tr
                        td.is-link: a Cubase Elements 8 Windows x64
                        td dyzdyz010
                        td 2016-04-28   
                    tr
                        td.is-link: a Cubase Elements 8 Windows x64
                        td dyzdyz010
                        td 2016-04-28   
                    tr
                        td.is-link: a Cubase Elements 8 Windows x64
                        td dyzdyz010
                        td 2016-04-28   
                    tr
                        td.is-link: a Cubase Elements 8 Windows x64
                        td dyzdyz010
                        td 2016-04-28   
                    tr
                        td.is-link: a Cubase Elements 8 Windows x64
                        td dyzdyz010
                        td 2016-04-28      
