extends base

block vars
    - var resources = 'is-active'

block hero
    h1.title 资源专区
    h2.subtitle 教程、资源集散地
    p.content 天灵灵地灵灵，太上老君快显灵
    .content
        

block hero-footer
    nav.tabs.is-boxed
        .container
            ul
                li(class='#{tab1}'): a(href='/resources') VC主程序／音源
                li(class='#{daw}'): a(href='/resources?category=daw') 宿主专区
                li(class='#{plugin}'): a(href='/resources?category=plugin') 插件专区
                li(class='#{other}'): a(href='/resources?category=other') 其他资源

block content
    section.section
        .container
            .box
                article.media
                    .media-left
                        figure.image.is-64x64
                            img(src='/img/vocaloid logo.jpg')
                    .media-content
                        .content
                            strong 星尘V4声库 
                            small @user 
                            small datetime
                            br
                            | 現在已經過了人生的四分之一，現在已經過了人生的四分之一，ㄟ那就結婚吧我沒有妳會死，我什麼都不要，我誰都不要，我什麼都不要，照顧你生命中的每一天，我願用一萬次去換與你的相遇。寂寞的床偌大的房，一直到老了一步步曾經，
            .box
                article.media
                    .media-left
                        figure.image.is-64x64
                            img(src='http://placehold.it/128x128')
                    .media-content
                        .content
                            strong 星尘V4声库 
                            small @user 
                            small datetime
                            br
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
            .box
                article.media
                    .media-left
                        figure.image.is-64x64
                            img(src='http://placehold.it/128x128')
                    .media-content
                        .content
                            strong 星尘V4声库 
                            small @user 
                            small datetime
                            br
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.

block idol
    img(src='/img/idols/lukav4x.png')