extends _layout/base

block vars
    - var works = 'is-active'

block hero
    h1.title 【巡音ルカ】コメットルシファー ～The Seed and the Sower～
    h2.subtitle @dyzdyz010
    .content.tags
        span.tag.is-dark 巡音ルカ
    p.content 作詞はMYOさん(mylist/38210282)

        br 
        | イラストはピアプロよりミルクティーさん(http://piapro.jp/milktea101)の作品をお借りしました
        br
        | これまでの自作曲(mylist/32258513)
        
    p.content.subtitle.is-6 11:09 PM - 1 Jan 2016
    .box.transparent
        h4.title.is-4 下载地址：
        .columns.is-multiline
            .column.is-3
                span.tag
                    a(href='http://pan.baidu.com') 百度盘
                    &nbsp;
                    | 提取码：n3jp

block content
    section.section
        .container
            <embed height="415" width="544" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://static.hdslb.com/miniloader.swf" flashvars="aid=4750779&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
            embed(height='415' width='544' quality='high' allowfullscreen='true' type='application/x-shockwave-flash')
            include _partial/comments
