.transparent {
	background: rgba(255, 255, 255, 0.3);
}

.transparent progress {
	opacity: 0.9;
}

.tile .blog-list:last-child {
	padding-bottom: 0;
}

.tile .blog-list li {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.tile .blog-list a {
	color: rgba(255, 255, 255, 0.8);
}

.tile .blog-list a:hover {
	color: white;
}

.tile .blog-list .date {
	float: right;
}

.card .production-author {
	padding-top: 5px;
}
