/*Overwrite Bulma classes*/
.modal-card-body {
    -webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.transparent {
    background: rgba(255, 255, 255, 0.3);
}

.transparent progress {
    opacity: 0.9;
}

.tile .blog-list:last-child {
    padding-bottom: 0;
}

.tile .blog-list li {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.tile .blog-list a {
    color: rgba(255, 255, 255, 0.8);
}

.tile .blog-list a:hover {
    color: white;
}

.tile .blog-list .date {
    float: right;
}

.card .work-author {
    padding-top: 5px;
}

.tag {
    margin-right: 10px;
    margin-bottom: 5px;
}

.tag.resource-download-link {
    margin-right: 10px;
}

.blog-list-item {
    margin-bottom: 10px;
}

.blog-list .seperator {
    display: block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 40px 20px;
}