//- Banner
section.hero.is-info.is-bold
    .hero-content
        .container
            .columns.is-vcentered
                .column.is-9.is-left
                    h1.title VMGourp 
                    p.subtitle 获取 Vocaloid 学习最新资讯
                    a.button.is-info.is-outlined.is-inverted(href='/atom.xml') 订阅
                .column.is-3
                    figure.image.is-128x128.is-right
                        block idol
                            img(src='/img/mikuv3.png')
            .column.box.transparent
                h4.title.is-4 本站建设进度
                progress.progress.is-danger(value='15', max='100') 15%

//- Real footer
footer.footer
    .container
        .content.has-text-centered
            p 
                strong Vocaloid 学习交流群
                |  by Hexo
                
