section.hero.is-primary.is-left.is-bold
    include nav

    .hero-content
        .container
            block hero
            .column.box.site-progress
                h3.title.is-3 本站建设进度
                progress.progress.is-danger(value='15', max='100') 15%
