section.hero.is-primary.is-left.is-bold
    include nav

    .hero-content
        .container
            .columns.is-vcentered
                .column
                    block hero
                .column.is-4
                    if locals.user
                        article.message.is-warning
                            .message-header 群公告
                            .message-body
                                | 上官博啦！为DC激动！！（字数不足我选择死亡。。）
                                | 上官博啦！为DC激动！！（字数不足我选择死亡。。）
                                | 上官博啦！为DC激动！！（字数不足我选择死亡。。）
                                | 上官博啦！为DC激动！！（字数不足我选择死亡。。）
                                | 上官博啦！为DC激动！！（字数不足我选择死亡。。）
                    else
                        figure.image.is-256x256.is-right
                            block idol-hero
                                img(src='/img/mikuv3.png')
                            
            //- .column.box.site-progress
            //-     h3.title.is-3 本站建设进度
            //-     progress.progress.is-danger(value='15', max='100') 15%
    .hero-footer
        block hero-footer