if message
    if message.error
        .notification.is-danger #{message.error}
    if message.success
        .notification.is-success #{message.success}
    if message.warning
        .notification.is-warning #{message.warning}
    if message.info
        .notification.is-info #{message.info}