header.header
		.container
			.header-left
				a.header-item: h1.title VMGroup
				a.header-item(class='#{home}')
					//- span.icon: i.fa.fa-home
					| 首页
				a.header-item(class='#{resources}')
					//- span.icon: i.fa.fa-star
					| 资源
				a.header-item(class='#{resources}')
					//- span.icon: i.fa.fa-star
					| 成员简介
				a.header-item 更多
			.header-right
				span.header-item
					a.button.is-info.is-outlined.is-inverted
						span.icon: i.fa.fa-github
						| Github