extends base

block hero-foot
    .container
        nav.tabs.is-boxed
            ul
                li(class='#{works}'): a(href='/admin/works') 作品
                li(class='#{resources}'): a(href='/admin/resources') 资源